.camera {
    width: auto;
    height: 48px;
    background: #fff;
    position: relative;
    top: 8px;
    left: 8px;
    display: inline-block;
}

#base {
    position: relative;
    top: 50px;
    left: 0;
}